* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  display: flex;
}
.container img {
  width: 30vw;
  height: 100%;
}
.right {
  width: 70vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right div {
  width: 400px;
  height: 290px;
  background-color: white;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 5px 9px white;
}
.right div h2 {
  color: #3d23bf;
  margin-top: 1rem;
}
.right div h4 {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 300;
  font-family: inherit;
}
.right div button {
  margin: 1.5rem 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: blueviolet;
  color: white;
  border: 0;
}
.right input {
  display: none;
}
